@use '@/styles/mixins.module.scss' as mixins;

.users-page {
  flex: 1;
  display: flex;
  flex-direction: column;

  overflow: hidden;

  &__content {
    @include mixins.layout__protected-page__content;
  }
}
