@use '@/styles/mixins.module.scss' as mixins;

.users-page {
  flex: 1;
  display: flex;
  flex-direction: column;

  overflow: auto;
  max-height: calc(100vh - 70px);

  &__content {
    @include mixins.layout__protected-page__content;
  }
}
