@use '@/styles/fonts.module.scss' as fonts;
@use '@/styles/exports/colors.module.scss' as colors;

.link {
  @include fonts.font-body-m;

  color: colors.$content-dark-primary;
  font-weight: 600;
  text-align: left;
  text-decoration: none;

  transition: all 0.125s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }

  &--with-icon {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}
