@use '@/styles/exports/colors.module.scss' as colors;
@use '@/styles/variables.module.scss' as variables;

.list-row {
  width: fit-content;
  min-width: 100%;

  display: flex;

  border-radius: variables.$border-radius;
  border: 1px solid colors.$border-primary;
  background-color: colors.$interaction-secondary-base;

  &:nth-child(odd) {
    background-color: colors.$background-secondary;
  }

  &--clickable {
    cursor: pointer;
    transition: all 0.125s ease-in-out;

    &:hover {
      background-color: colors.$interaction-secondary-hover;
    }
  }

  &__cell {
    flex: 1;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}