@use '@/shared/styles/colors.module.scss' as colors;
@use '@/shared/styles/variables.module.scss' as variables;

.list-row {
  width: fit-content;
  min-width: 100%;

  display: flex;

  border-radius: variables.$border-radius;
  border: 1px solid colors.$border-primary;
  background-color: colors.$interaction-secondary-base;

  &--clickable {
    cursor: pointer;
    transition: all 0.125s ease-in-out;

    &:hover {
      background-color: colors.$interaction-secondary-hover;
    }
  }

  &__cell {
    flex: 1;
  }
}
