@use '@/shared/styles/mixins.module.scss' as mixins;

.sign-up {
  @include mixins.layout__public-page;

  &__form {
    width: min(100%, 720px);
    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 16px;
    padding: 64px 32px;

    @include mixins.responsive('md') {
      gap: 36px;
      padding: 64px 140px 140px;
    }
  }
}
