@use '@/shared/styles/mixins.module.scss' as mixins;

.list {
  height: 100%;

  display: flex;
  flex-direction: column;

  &__body {
    @include mixins.force-scrollbar;

    flex: 1;
    margin-top: 12px;
    margin-bottom: 16px;

    display: flex;
    flex-direction: column;

    gap: 12px;
  }
}
