@use '@/shared/styles/mixins.module.scss' as mixins;

.sign-in {
  @include mixins.layout__public-page;

  &__form {
    flex: 1;
    width: min(100%, 720px);
    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 16px;
    padding: 64px 32px;

    @include mixins.responsive('md') {
      gap: 36px;
      padding: 64px 140px 140px;
    }
  }

  &__form-footer {
    padding: 0 64px 32px;
    text-align: center;

    @include mixins.responsive('md') {
      padding: 0 140px 64px 140px;
    }
  }
}
