@use '@/shared/styles/fonts.module.scss' as fonts;
@use '@/shared/styles/colors.module.scss' as colors;
@use '@/shared/styles/mixins.module.scss' as mixins;
@use '@/shared/styles/variables.module.scss' as variables;

.modal-overlay {
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  overflow: hidden;
  z-index: variables.$modal-zindex-overlay;

  background: rgba(0, 0, 0, 0.08);
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  z-index: variables.$modal-zindex;

  max-width: 95%;
  max-height: 95%;
  width: fit-content;
  height: fit-content;

  display: flex;
  flex-direction: column;

  border-radius: 8px;
  border: 1px solid #e4e4e4;
  background-color: colors.$action-secondary-base;
  box-shadow: 23px 0px 36px rgba(150, 150, 150, 0.16);

  &__head {
    width: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 24px;
    border-bottom: 1px solid colors.$border-primary;

    gap: 32px;
  }

  &__body {
    @include mixins.force-scrollbar;

    height: 100%;
    padding: 24px;
  }
}
