@use '@/shared/styles/fonts.module.scss' as fonts;
@use '@/shared/styles/colors.module.scss' as colors;
@use '@/shared/styles/variables.module.scss' as variables;

.icon-button {
  @include fonts.font-body-xl;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  gap: variables.$spacing1;
  padding: variables.$spacing2;
  border-radius: variables.$border-radius;

  transition: all 0.125s ease-in-out;

  cursor: pointer;

  &--shape-square {
    border-radius: variables.$border-radius;
  }

  &--shape-circle {
    border-radius: 50%;
  }

  &--size-xl,
  &--size-l,
  &--size-m,
  &--size-s {
    aspect-ratio: 1;
  }

  &--size-xl {
    width: 48px;
    height: 48px;
  }

  &--size-l {
    width: 40px;
    height: 40px;
  }

  &--size-m {
    width: 36px;
    height: 36px;
  }

  &--size-s {
    width: 32px;
    height: 32px;
  }

  &--primary {
    color: colors.$content-light-primary;
    background-color: colors.$action-primary-base;
    border: 1px solid colors.$action-primary-base;

    &:hover:not(.button--disabled),
    &:active:not(.button--disabled),
    &:focus:not(.button--disabled) {
      background-color: colors.$action-primary-hover;
      border: 1px solid colors.$action-primary-hover;
    }

    &:disabled {
      color: colors.$content-light-disabled;
      background-color: colors.$action-primary-disabled;
      border: 1px solid colors.$action-primary-disabled;
      cursor: initial;
    }
  }

  &--secondary {
    color: colors.$content-dark-primary;
    background-color: colors.$action-secondary-base2;
    border: 1px solid colors.$action-secondary-base2;

    &:hover:not(.button--disabled),
    &:active:not(.button--disabled),
    &:focus:not(.button--disabled) {
      color: colors.$content-dark-primary;
      background-color: colors.$action-secondary-hover;
      border: 1px solid colors.$action-secondary-hover;
    }

    &:disabled {
      background-color: colors.$action-secondary-disabled;
      border: 1px solid colors.$action-secondary-disabled;
      cursor: initial;
    }
  }

  &--outline {
    color: colors.$content-dark-primary;
    background-color: colors.$action-secondary-base;
    border: 1px solid colors.$action-outline-base;

    &:hover:not(.button--disabled),
    &:active:not(.button--disabled),
    &:focus:not(.button--disabled) {
      background-color: colors.$action-secondary-hover;
      border: 1px solid colors.$action-outline-hover;
    }

    &:disabled {
      color: colors.$content-dark-disabled;
      background-color: colors.$action-outline-disabled;
      border: 1px solid colors.$action-outline-hover;
      cursor: initial;
    }
  }
}
