@use '@/shared/styles/colors.module.scss' as colors;
@use '@/shared/styles/mixins.module.scss' as mixins;

.account {
  flex: 1;
  display: flex;
  flex-direction: column;

  gap: 20px;
  padding: 32px;

  &__head {
    display: flex;
    flex-direction: column;

    gap: 16px;
  }
}
