@use '@/styles/mixins.module.scss' as mixins;

.grid {
  height: 100%;

  display: flex;
  flex-direction: column;

  gap: 16px;

  &__content {
    @include mixins.force-scrollbar;

    flex: 1;
    display: grid;
  }
}
