@import 'tailwindcss';
@import 'tw-animate-css';

/* Tokens */
@import './base/tokens.css';
@import './fonts.module.scss';

/* Components */
@import './components/button.css';
/* ... */

body {
    font-family: 'Satoshi', sans-serif;
}