@use '@/shared/styles/variables.module.scss' as variables;

.user-role-badge {
  display: flex;
  align-items: center;

  padding: 4px 6px;
  border-radius: variables.$border-radius;

  &--fit-content {
    width: fit-content;
  }
}
