@use '@/styles/exports/colors.module.scss' as colors;
@use '@/styles/mixins.module.scss' as mixins;

.auth-header {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: colors.$background-primary;

  padding: 16px 32px;

  @include mixins.responsive('md') {
    padding: 24px 80px;
  }

  &__links {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    gap: 16px;
  }
}
