@use '@/shared/styles/colors.module.scss' as colors;
@use '@/shared/styles/mixins.module.scss' as mixins;

.section-categories {
  @include mixins.force-scrollbar;
  overflow-y: hidden;

  min-width: 100%;
  display: flex;
  align-items: center;
  padding: 16px;

  gap: 24px;

  @include mixins.responsive('sm') {
    padding: 24px 32px;
  }

  &__list {
    flex: 1;
    display: flex;
    align-items: center;

    gap: 12px;
  }
}
