@use '@/styles/exports/colors.module.scss' as colors;
@use '@/styles/mixins.module.scss' as mixins;

.settings-page {
  flex: 1;
  display: flex;
  flex-direction: column;

  overflow: auto;
  max-height: calc(100vh - 70px);

  &__content {
    flex: 1;
    width: 100%;

    display: flex;
    flex-direction: column;

    @include mixins.responsive('sm') {
      flex-direction: row;
    }
  }

  &__content-sidebar {
    background-color: colors.$background-primary;
    border-right: 1px solid colors.$border-primary;

    @include mixins.responsive('sm') {
      height: 100%;
    }
  }
}
