@use '@/shared/styles/colors.module.scss' as colors;
@use '@/shared/styles/mixins.module.scss' as mixins;

.settings-page {
  flex: 1;
  display: flex;
  flex-direction: column;

  &__content {
    flex: 1;
    width: 100%;

    display: flex;
  }

  &__content-sidebar {
    height: 100%;

    background-color: colors.$background-primary;
    border-right: 1px solid colors.$border-primary;
  }
}
