@use '@/shared/styles/colors.module.scss' as colors;

.category-button {
  padding: 8px 12px;
  border-radius: 24px;
  border: 0;
  background-color: colors.$action-secondary-base;

  transition: all 0.125s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: colors.$action-secondary-hover;
  }

  &--active {
    background-color: colors.$action-secondary-selected;
  }
}
