.user-grid-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__personal-info {
    display: flex;
    align-items: flex-start;

    gap: 12px;
  }

  &__personal-info-text {
    flex: 1;
    display: flex;
    flex-direction: column;

    gap: 4px;
  }

  &__contact-info {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__contact-info-row {
    display: flex;
    align-items: center;
    gap: 8px;

    overflow: hidden;
    text-overflow: ellipsis;

    & > span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__actions {
    margin-top: auto;

    display: flex;
    gap: 8px;
  }
}
