:root {
  /*#region GLOBAL COLORS */

  /* NEUTRAL */
  --neutral-100: #000;
  --neutral-90: #36383b;
  --neutral-80: #6d7076;
  --neutral-70: #a3a7b0;
  --neutral-60: #d9dfeb;
  --neutral-50: #e1e5ef;
  --neutral-40: #e8ecf3;
  --neutral-30: #f2f2f2;
  --neutral-20: #f9f9f9;
  --neutral-10: #fcfcfe;
  --neutral-0: #fff;

  /* BLUE */
  --blue-10: #edf2fe;
  --blue-20: #dbe4fd;
  --blue-30: #b6c8fb;
  --blue-40: #92adf8;
  --blue-50: #6d91f6;
  --blue-60: #4976f4;
  --blue-70: #3759b7;
  --blue-80: #253b7a;
  --blue-90: #121e3d;
  --blue-100: #070c18;

  /** GREEN */
  --green-10: #eef5f0;
  --green-20: #deece1;
  --green-30: #bcd8c2;
  --green-40: #9bc5a4;
  --green-50: #79b185;
  --green-60: #589e67;
  --green-70: #467e52;
  --green-80: #355f3e;
  --green-90: #233f29;
  --green-100: #122015;

  /** IRISH */
  --irish-10: #eeeff5;
  --irish-20: #dedfec;
  --irish-30: #bcbfd8;
  --irish-40: #9b9fc5;
  --irish-50: #797fb1;
  --irish-60: #585f9e;
  --irish-70: #464c7e;
  --irish-80: #35395f;
  --irish-90: #23263f;
  --irish-100: #121320;

  /* LIME YELLOW */
  --lime-yellow-10: #f7f7e8;
  --lime-yellow-20: #efeed2;
  --lime-yellow-30: #e0dda5;
  --lime-yellow-40: #d0cd77;
  --lime-yellow-50: #c1bc4a;
  --lime-yellow-60: #b1ab1d;
  --lime-yellow-70: #8e8917;
  --lime-yellow-80: #6a6711;
  --lime-yellow-90: #47440c;
  --lime-yellow-100: #232206;

  /* ORANGE */
  --orange-10: #fbf4ec;
  --orange-20: #f6e8d8;
  --orange-30: #edd2b1;
  --orange-40: #e4bb8b;
  --orange-50: #dba564;
  --orange-60: #d28e3d;
  --orange-70: #a87231;
  --orange-80: #7e5525;
  --orange-90: #543918;
  --orange-100: #2a1c0c;

  /* PURPLE */
  --purple-10: #f4edf7;
  --purple-20: #eadbef;
  --purple-30: #d5b7df;
  --purple-40: #bf93cf;
  --purple-50: #aa6fbf;
  --purple-60: #954baf;
  --purple-70: #773c8c;
  --purple-80: #592d69;
  --purple-90: #3c1e46;
  --purple-100: #1e0f23;

  /* RED */
  --red-10: #f7eded;
  --red-20: #efdbdb;
  --red-30: #dfb7b7;
  --red-40: #cf9393;
  --red-50: #bf6f6f;
  --red-60: #af4b4b;
  --red-70: #8c3c3c;
  --red-80: #692d2d;
  --red-90: #461e1e;
  --red-100: #230f0f;

  /*#endregion GLOBAL COLORS */

  /*#region SEMANTIC COLORS */

  /* ACTION */
  --action-destructive-active: var(--red-70);
  --action-destructive-base: var(--red-50);
  --action-destructive-disabled: var(--red-20);
  --action-destructive-hover: var(--red-60);
  --action-destructive-selected: var(--red-60);
  --action-outline-active: var(--neutral-80);
  --action-outline-base: var(--neutral-100);
  --action-outline-disabled: var(--neutral-30);
  --action-outline-hover: var(--neutral-100);
  --action-outline-selected: var(--neutral-70);
  --action-primary-active: var(--neutral-90);
  --action-primary-base: var(--neutral-100);
  --action-primary-disabled: var(--neutral-20);
  --action-primary-hover: var(--neutral-80);
  --action-primary-selected: var(--neutral-90);
  --action-secondary-active: var(--neutral-50);
  --action-secondary-base: var(--neutral-0);
  --action-secondary-base2: var(--neutral-30);
  --action-secondary-disabled: var(--neutral-20);
  --action-secondary-hover: var(--neutral-40);
  --action-secondary-selected: var(--neutral-30);

  /* BACKGROUND */
  --background-blue: var(--blue-10);
  --background-green: var(--green-10);
  --background-orange: var(--orange-10);
  --background-primary: var(--neutral-0);
  --background-purple: var(--purple-10);
  --background-red: var(--red-10);
  --background-secondary: var(--neutral-20);
  --background-tertiary: var(--neutral-30);
  --background-yellow: var(--lime-yellow-10);

  /* BORDER */
  --border-error: var(--red-30);
  --border-informative: var(--blue-30);
  --border-positive: var(--green-30);
  --border-primary: var(--neutral-50);
  --border-secondary: var(--neutral-70);
  --border-tertiary: var(--neutral-100);
  --border-Warning: var(--orange-30);

  /* CONTENT */
  --content-light-disabled: var(--neutral-60);
  --content-light-error: var(--red-60);
  --content-light-informative: var(--blue-60);
  --content-light-positive: var(--green-60);
  --content-light-primary: var(--neutral-0);
  --content-light-secondary: var(--neutral-20);
  --content-light-tertiary: var(--neutral-30);

  --content-dark-disabled: var(--neutral-60);
  --content-dark-error: var(--red-60);
  --content-dark-informative: var(--blue-60);
  --content-dark-positive: var(--green-60);
  --content-dark-primary: var(--neutral-100);
  --content-dark-secondary: var(--neutral-80);
  --content-dark-tertiary: var(--neutral-70);

  /* INTERACTION */
  --interaction-blue-active: var(--blue-80);
  --interaction-blue-base: var(--blue-60);
  --interaction-blue-disabled: var(--blue-20);
  --interaction-blue-hover: var(--blue-70);
  --interaction-blue-selected: var(--blue-70);
  --interaction-green-active: var(--green-80);
  --interaction-green-base: var(--green-60);
  --interaction-green-disabled: var(--green-20);
  --interaction-green-hover: var(--green-70);
  --interaction-green-selected: var(--green-70);
  --interaction-orange-active: var(--orange-80);
  --interaction-orange-base: var(--orange-60);
  --interaction-orange-disabled: var(--orange-20);
  --interaction-orange-hover: var(--orange-70);
  --interaction-orange-selected: var(--orange-70);
  --interaction-outline-active: var(--neutral-100);
  --interaction-outline-base: var(--neutral-70);
  --interaction-outline-disabled: var(--neutral-40);
  --interaction-outline-hover: var(--neutral-80);
  --interaction-outline-selected: var(--neutral-60);
  --interaction-primary-active: var(--neutral-90);
  --interaction-primary-base: var(--neutral-100);
  --interaction-primary-disabled: var(--neutral-20);
  --interaction-primary-hover: var(--neutral-80);
  --interaction-primary-selected: var(--neutral-90);
  --interaction-purple-active: var(--purple-80);
  --interaction-purple-base: var(--purple-60);
  --interaction-purple-disabled: var(--purple-20);
  --interaction-purple-hover: var(--purple-70);
  --interaction-purple-selected: var(--purple-70);
  --interaction-red-active: var(--red-80);
  --interaction-red-base: var(--red-60);
  --interaction-red-disabled: var(--red-20);
  --interaction-red-hover: var(--red-70);
  --interaction-red-selected: var(--red-70);
  --interaction-secondary-active: var(--neutral-50);
  --interaction-secondary-base: var(--neutral-0);
  --interaction-secondary-disabled: var(--neutral-20);
  --interaction-secondary-hover: var(--neutral-30);
  --interaction-secondary-selected: var(--neutral-30);
  --interaction-yellow-active: var(--lime-yellow-80);
  --interaction-yellow-base: var(--lime-yellow-60);
  --interaction-yellow-disabled: var(--lime-yellow-20);
  --interaction-yellow-hover: var(--lime-yellow-70);
  --interaction-yellow-selected: var(--lime-yellow-70);

  /*#endregion SEMANTIC COLORS */
}

/* ACTION */
$action-destructive-active: var(--action-destructive-active);
$action-destructive-base: var(--action-destructive-base);
$action-destructive-disabled: var(--action-destructive-disabled);
$action-destructive-hover: var(--action-destructive-hover);
$action-destructive-selected: var(--action-destructive-selected);
$action-outline-active: var(--action-outline-active);
$action-outline-base: var(--action-outline-base);
$action-outline-disabled: var(--action-outline-disabled);
$action-outline-hover: var(--action-outline-hover);
$action-outline-selected: var(--action-outline-selected);
$action-primary-active: var(--action-primary-active);
$action-primary-base: var(--action-primary-base);
$action-primary-disabled: var(--action-primary-disabled);
$action-primary-hover: var(--action-primary-hover);
$action-primary-selected: var(--action-primary-selected);
$action-secondary-active: var(--action-secondary-active);
$action-secondary-base: var(--action-secondary-base);
$action-secondary-base2: var(--action-secondary-base2);
$action-secondary-disabled: var(--action-secondary-disabled);
$action-secondary-hover: var(--action-secondary-hover);
$action-secondary-selected: var(--action-secondary-selected);

/* BACKGROUND */
$background-blue: var(--background-blue);
$background-green: var(--background-green);
$background-orange: var(--background-orange);
$background-primary: var(--background-primary);
$background-purple: var(--background-purple);
$background-red: var(--background-red);
$background-secondary: var(--background-secondary);
$background-tertiary: var(--background-tertiary);
$background-yellow: var(--background-yellow);

/* BORDER */
$border-error: var(--border-error);
$border-informative: var(--border-informative);
$border-positive: var(--border-positive);
$border-primary: var(--border-primary);
$border-secondary: var(--border-secondary);
$border-tertiary: var(--border-tertiary);
$border-Warning: var(--border-Warning);

/* CONTENT */
$content-light-disabled: var(--content-light-disabled);
$content-light-error: var(--content-light-error);
$content-light-informative: var(--content-light-informative);
$content-light-positive: var(--content-light-positive);
$content-light-primary: var(--content-light-primary);
$content-light-secondary: var(--content-light-secondary);
$content-light-tertiary: var(--content-light-tertiary);

$content-dark-disabled: var(--content-dark-disabled);
$content-dark-error: var(--content-dark-error);
$content-dark-informative: var(--content-dark-informative);
$content-dark-positive: var(--content-dark-positive);
$content-dark-primary: var(--content-dark-primary);
$content-dark-secondary: var(--content-dark-secondary);
$content-dark-tertiary: var(--content-dark-tertiary);

/* INTERACTION */
$interaction-blue-active: var(--interaction-blue-active);
$interaction-blue-base: var(--interaction-blue-base);
$interaction-blue-disabled: var(--interaction-blue-disabled);
$interaction-blue-hover: var(--interaction-blue-hover);
$interaction-blue-selected: var(--interaction-blue-selected);
$interaction-green-active: var(--interaction-green-active);
$interaction-green-base: var(--interaction-green-base);
$interaction-green-disabled: var(--interaction-green-disabled);
$interaction-green-hover: var(--interaction-green-hover);
$interaction-green-selected: var(--interaction-green-selected);
$interaction-orange-active: var(--interaction-orange-active);
$interaction-orange-base: var(--interaction-orange-base);
$interaction-orange-disabled: var(--interaction-orange-disabled);
$interaction-orange-hover: var(--interaction-orange-hover);
$interaction-orange-selected: var(--interaction-orange-selected);
$interaction-outline-active: var(--interaction-outline-active);
$interaction-outline-base: var(--interaction-outline-base);
$interaction-outline-disabled: var(--interaction-outline-disabled);
$interaction-outline-hover: var(--interaction-outline-hover);
$interaction-outline-selected: var(--interaction-outline-selected);
$interaction-primary-active: var(--interaction-primary-active);
$interaction-primary-base: var(--interaction-primary-base);
$interaction-primary-disabled: var(--interaction-primary-disabled);
$interaction-primary-hover: var(--interaction-primary-hover);
$interaction-primary-selected: var(--interaction-primary-selected);
$interaction-purple-active: var(--interaction-purple-active);
$interaction-purple-base: var(--interaction-purple-base);
$interaction-purple-disabled: var(--interaction-purple-disabled);
$interaction-purple-hover: var(--interaction-purple-hover);
$interaction-purple-selected: var(--interaction-purple-selected);
$interaction-red-active: var(--interaction-red-active);
$interaction-red-base: var(--interaction-red-base);
$interaction-red-disabled: var(--interaction-red-disabled);
$interaction-red-hover: var(--interaction-red-hover);
$interaction-red-selected: var(--interaction-red-selected);
$interaction-secondary-active: var(--interaction-secondary-active);
$interaction-secondary-base: var(--interaction-secondary-base);
$interaction-secondary-disabled: var(--interaction-secondary-disabled);
$interaction-secondary-hover: var(--interaction-secondary-hover);
$interaction-secondary-selected: var(--interaction-secondary-selected);
$interaction-yellow-active: var(--interaction-yellow-active);
$interaction-yellow-base: var(--interaction-yellow-base);
$interaction-yellow-disabled: var(--interaction-yellow-disabled);
$interaction-yellow-hover: var(--interaction-yellow-hover);
$interaction-yellow-selected: var(--interaction-yellow-selected);

:export {
  /* ACTION */
  actionDestructiveActive: $action-destructive-active;
  actionDestructiveBase: $action-destructive-base;
  actionDestructiveDisabled: $action-destructive-disabled;
  actionDestructiveHover: $action-destructive-hover;
  actionDestructiveSelected: $action-destructive-selected;
  actionOutlineActive: $action-outline-active;
  actionOutlineBase: $action-outline-base;
  actionOutlineDisabled: $action-outline-disabled;
  actionOutlineHover: $action-outline-hover;
  actionOutlineSelected: $action-outline-selected;
  actionPrimaryActive: $action-primary-active;
  actionPrimaryBase: $action-primary-base;
  actionPrimaryDisabled: $action-primary-disabled;
  actionPrimaryHover: $action-primary-hover;
  actionPrimarySelected: $action-primary-selected;
  actionSecondaryActive: $action-secondary-active;
  actionSecondaryBase: $action-secondary-base;
  actionSecondaryBase2: $action-secondary-base2;
  actionSecondaryDisabled: $action-secondary-disabled;
  actionSecondaryHover: $action-secondary-hover;
  actionSecondarySelected: $action-secondary-selected;

  /* BACKGROUND */
  backgroundBlue: $background-blue;
  backgroundGreen: $background-green;
  backgroundOrange: $background-orange;
  backgroundPrimary: $background-primary;
  backgroundPurple: $background-purple;
  backgroundRed: $background-red;
  backgroundSecondary: $background-secondary;
  backgroundTertiary: $background-tertiary;
  backgroundYellow: $background-yellow;

  /* BORDER */
  borderError: $border-error;
  borderInformative: $border-informative;
  borderPositive: $border-positive;
  borderPrimary: $border-primary;
  borderSecondary: $border-secondary;
  borderTertiary: $border-tertiary;
  borderWarning: $border-Warning;

  /* CONTENT */
  contentLightDisabled: $content-light-disabled;
  contentLightError: $content-light-error;
  contentLightInformative: $content-light-informative;
  contentLightPositive: $content-light-positive;
  contentLightPrimary: $content-light-primary;
  contentLightSecondary: $content-light-secondary;
  contentLightTertiary: $content-light-tertiary;

  contentDarkDisabled: $content-dark-disabled;
  contentDarkError: $content-dark-error;
  contentDarkInformative: $content-dark-informative;
  contentDarkPositive: $content-dark-positive;
  contentDarkPrimary: $content-dark-primary;
  contentDarkSecondary: $content-dark-secondary;
  contentDarkTertiary: $content-dark-tertiary;

  /* INTERACTION */
  interactionBlueActive: $interaction-blue-active;
  interactionBlueBase: $interaction-blue-base;
  interactionBlueDisabled: $interaction-blue-disabled;
  interactionBlueHover: $interaction-blue-hover;
  interactionBlueSelected: $interaction-blue-selected;
  interactionGreenActive: $interaction-green-active;
  interactionGreenBase: $interaction-green-base;
  interactionGreenDisabled: $interaction-green-disabled;
  interactionGreenHover: $interaction-green-hover;
  interactionGreenSelected: $interaction-green-selected;
  interactionOrangeActive: $interaction-orange-active;
  interactionOrangeBase: $interaction-orange-base;
  interactionOrangeDisabled: $interaction-orange-disabled;
  interactionOrangeHover: $interaction-orange-hover;
  interactionOrangeSelected: $interaction-orange-selected;
  interactionOutlineActive: $interaction-outline-active;
  interactionOutlineBase: $interaction-outline-base;
  interactionOutlineDisabled: $interaction-outline-disabled;
  interactionOutlineHover: $interaction-outline-hover;
  interactionOutlineSelected: $interaction-outline-selected;
  interactionPrimaryActive: $interaction-primary-active;
  interactionPrimaryBase: $interaction-primary-base;
  interactionPrimaryDisabled: $interaction-primary-disabled;
  interactionPrimaryHover: $interaction-primary-hover;
  interactionPrimarySelected: $interaction-primary-selected;
  interactionPurpleActive: $interaction-purple-active;
  interactionPurpleBase: $interaction-purple-base;
  interactionPurpleDisabled: $interaction-purple-disabled;
  interactionPurpleHover: $interaction-purple-hover;
  interactionPurpleSelected: $interaction-purple-selected;
  interactionRedActive: $interaction-red-active;
  interactionRedBase: $interaction-red-base;
  interactionRedDisabled: $interaction-red-disabled;
  interactionRedHover: $interaction-red-hover;
  interactionRedSelected: $interaction-red-selected;
  interactionSecondaryActive: $interaction-secondary-active;
  interactionSecondaryBase: $interaction-secondary-base;
  interactionSecondaryDisabled: $interaction-secondary-disabled;
  interactionSecondaryHover: $interaction-secondary-hover;
  interactionSecondarySelected: $interaction-secondary-selected;
  interactionYellowActive: $interaction-yellow-active;
  interactionYellowBase: $interaction-yellow-base;
  interactionYellowDisabled: $interaction-yellow-disabled;
  interactionYellowHover: $interaction-yellow-hover;
  interactionYellowSelected: $interaction-yellow-selected;
}
