@use '@/shared/styles/fonts.module.scss' as fonts;
@use '@/shared/styles/colors.module.scss' as colors;
@use '@/shared/styles/variables.module.scss' as variables;

.button {
  @include fonts.font-body-xl;

  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;

  border: 0;
  gap: variables.$spacing1;
  padding: variables.$spacing2;
  border-radius: 4px;

  transition: all 0.125s ease-in-out;

  cursor: pointer;

  &--full-width {
    width: 100%;
  }

  &--size-xl {
    @include fonts.font-body-xl;

    padding: 12px 18px;
  }

  &--size-l,
  &--size-m,
  &--size-s {
    padding: 8px 12px;
  }

  &--size-l {
    @include fonts.font-body-l;
  }

  &--size-m {
    @include fonts.font-body-m;
  }

  &--size-s {
    @include fonts.font-body-s;
  }

  &--primary {
    color: colors.$content-light-primary;
    background-color: colors.$action-primary-base;
    border: 1px solid colors.$action-primary-base;

    &:hover:not(.button--disabled),
    &:active:not(.button--disabled),
    &:focus:not(.button--disabled) {
      background-color: colors.$action-primary-hover;
      border: 1px solid colors.$action-primary-hover;
    }

    &:disabled {
      color: colors.$content-light-disabled;
      background-color: colors.$action-primary-disabled;
      border: 1px solid colors.$action-primary-disabled;
      cursor: initial;
    }
  }

  &--secondary {
    color: colors.$content-dark-primary;
    background-color: colors.$action-secondary-base2;
    border: 1px solid colors.$action-secondary-base2;

    &:hover:not(.button--disabled),
    &:active:not(.button--disabled),
    &:focus:not(.button--disabled) {
      color: colors.$content-dark-primary;
      background-color: colors.$action-secondary-hover;
      border: 1px solid colors.$action-secondary-hover;
    }

    &:disabled {
      background-color: colors.$action-secondary-disabled;
      border: 1px solid colors.$action-secondary-disabled;
      cursor: initial;
    }
  }

  &--outline {
    color: colors.$content-dark-primary;
    background-color: colors.$action-secondary-base;
    border: 1px solid colors.$action-outline-base;

    &:hover:not(.button--disabled),
    &:active:not(.button--disabled),
    &:focus:not(.button--disabled) {
      background-color: colors.$action-secondary-hover;
      border: 1px solid colors.$action-outline-hover;
    }

    &:disabled {
      color: colors.$content-dark-disabled;
      background-color: colors.$action-outline-disabled;
      border: 1px solid colors.$action-outline-hover;
      cursor: initial;
    }
  }

  &--tertiary {
    color: colors.$content-dark-primary;
    background-color: transparent;
    border: 0;

    &:hover:not(.button--disabled),
    &:active:not(.button--disabled),
    &:focus:not(.button--disabled) {
      color: colors.$content-dark-primary;
      background-color: colors.$action-secondary-hover;
    }

    &:disabled {
      color: colors.$content-dark-disabled;
      cursor: initial;
    }
  }

  &--ghost {
    color: colors.$content-dark-primary;
    background-color: transparent;
    border: 0;
  }

  &--link {
    color: colors.$content-dark-primary;
    background-color: transparent;
    border: 0;

    &:hover:not(.button--disabled),
    &:active:not(.button--disabled),
    &:focus:not(.button--disabled) {
      color: colors.$content-dark-primary;
      background-color: colors.$action-secondary-hover;
    }

    &:disabled {
      color: colors.$content-dark-disabled;
      cursor: initial;
    }
  }
}
