@use '@/styles/fonts.module.scss' as fonts;
@use '@/styles/exports/colors.module.scss' as colors;
@use '@/styles/variables.module.scss' as variables;

.input-container {
  display: flex;
  flex-direction: column;

  row-gap: 4px;

  &__label {
    @include fonts.font-body-m;
  }

  &__field {
    position: relative;

    display: flex;

    &__left-icon {
      position: absolute;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      left: 10px;
      margin-block: auto;
      z-index: 1;

      width: 24px;
      height: 24px;
      cursor: pointer;

      color: colors.$content-dark-primary;
    }

    &__right-icon {
      position: absolute;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      right: 10px;
      margin-block: auto;
      z-index: 1;

      width: 24px;
      height: 24px;
      cursor: pointer;

      color: colors.$content-dark-primary;
    }
  }
}