@use '@/shared/styles/colors.module.scss' as colors;

.sidebar-link-wrapper {
  list-style: none;
}

.sidebar-link {
  display: flex;

  align-items: center;
  padding: 8px;
  border-radius: 4px;
  gap: 12px;

  &:hover {
    background-color: colors.$action-secondary-hover;
  }

  &--active {
    background-color: colors.$action-secondary-selected;
  }
}
