@use '@/styles/exports/colors.module.scss' as colors;
@use '@/styles/variables.module.scss' as variables;

.sidebar-link-wrapper {
  list-style: none;
}

.sidebar-link {
  display: flex;

  align-items: center;
  padding: 8px;
  border-radius: variables.$border-radius;
  gap: 12px;

  &:hover {
    background-color: colors.$action-secondary-hover;
  }

  &--active {
    background-color: colors.$action-secondary-selected;
  }
}
