@use '@/styles/exports/colors.module.scss' as colors;
@use '@/styles/variables.module.scss' as variables;

.kpi-card {
  display: flex;
  flex-direction: column;

  gap: 12px;
  padding: 20px;

  border-radius: variables.$border-radius;
  border: 1px solid colors.$border-primary;
  background-color: colors.$background-primary;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 12px;
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 4px;

    border-radius: 2px;
    background-color: colors.$background-tertiary;
  }

  &__body {
    flex: 1;
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    gap: 4px;
  }
}