@use '@/shared/styles/colors.module.scss' as colors;

.kpi-card {
  display: flex;
  flex-direction: column;

  gap: 12px;
  padding: 20px;

  border-radius: 4px;
  border: 1px solid colors.$border-primary;
  background-color: colors.$background-primary;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 12px;
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 4px;

    background-color: colors.$background-tertiary;
  }

  &__body {
    display: flex;
    flex-direction: column;

    gap: 4px;
  }
}
