@use '@/styles/mixins.module.scss' as mixins;

.user-details-modal {
  @include mixins.responsive('sm') {
    min-width: 640px;
  }

  & section {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include mixins.responsive('sm') {
      flex-direction: row;
      gap: 48px;
    }
  }

  &__column {
    flex: 1;

    display: flex;
    flex-direction: column;

    gap: 20px;
  }

  &__actions {
    display: flex;

    align-items: center;
    justify-content: center;

    gap: 16px;
  }

  &__action-item {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 8px;
  }

  &__avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 8px;

    text-align: center;
  }

  &__account-information {
    display: flex;
    flex-direction: column;

    gap: 8px;

    & > h5 {
      margin-bottom: 8px;
    }

    &__row {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}
