@use '@/shared/styles/colors.module.scss' as colors;
@use '@/shared/styles/mixins.module.scss' as mixins;
@use '@/shared/styles/variables.module.scss' as variables;

.dropdown-filter {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 100%;

  &__button-wrapper {
    position: relative;
  }

  &__active-filters-dot {
    position: absolute;
    top: -4px;
    right: -4px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 12px;
    height: 12px;

    border-radius: 50%;
    background-color: colors.$interaction-red-base;
  }

  &__dropdown {
    z-index: variables.$menu-zindex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: calc(100% - 32px);
    height: calc(100% - 32px);

    padding: variables.$spacing1 variables.$spacing2 variables.$spacing2;

    border-radius: 8px;
    border: 1px solid #e4e4e4;
    background-color: colors.$action-secondary-base;
    box-shadow: 23px 0px 36px rgba(150, 150, 150, 0.16);

    transform-origin: 50% -30px;

    @include mixins.responsive('md') {
      position: absolute;
      top: calc(100% + 8px);
      left: initial;
      right: initial;
      bottom: initial;
      margin: initial;

      width: 100%;
      height: auto;
    }
  }

  &__dropdown > form {
    flex: 1;
    display: flex;
    flex-direction: column;

    gap: 12px;
  }

  &__clear-all {
    color: colors.$interaction-red-base;

    &:hover {
      color: colors.$interaction-red-hover;
    }
  }

  &__dropdown-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__dropdown-filters {
    @include mixins.force-scrollbar;

    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__dropdown-footer {
    display: flex;
    align-items: center;

    gap: 4px;
  }
}
