@use '@/shared/styles/colors.module.scss' as colors;

.pagination {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 16px;

  &__page-controls {
    display: flex;
    align-items: center;

    gap: 12px;
  }

  &__page-controls-pages {
    display: flex;
    align-items: center;

    gap: 4px;
  }
}
