.reset-password-form {
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 16px;

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__go-back {
    align-self: center;
  }

  &__submit {
    margin-top: 16px;
  }
}
