@use '@/styles/exports/colors.module.scss' as colors;

.sidebar-toggle-button {
  position: absolute;
  right: -14px;
  top: 0;
  bottom: 0;
  margin-block: auto;

  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
  padding: 4px;

  background-color: colors.$background-tertiary;

  &--collapsed {
    top: unset;
    bottom: unset;
    right: unset;
    margin-block: unset;
    position: unset;
  }
}
