/* ACTION */
$action-outline-active: var(--action-outline-active);
$action-outline-base: var(--action-outline-base);
$action-outline-disabled: var(--action-outline-disabled);
$action-outline-hover: var(--action-outline-hover);

$action-primary-base: var(--action-primary-base);
$action-primary-disabled: var(--action-primary-disabled);
$action-primary-hover: var(--action-primary-hover);

$action-secondary-base: var(--action-secondary-base);
$action-secondary-base2: var(--action-secondary-base2);
$action-secondary-disabled: var(--action-secondary-disabled);
$action-secondary-hover: var(--action-secondary-hover);
$action-secondary-selected: var(--action-secondary-selected);

/* BACKGROUND */
$background-primary: var(--background-primary);
$background-secondary: var(--background-secondary);
$background-tertiary: var(--background-tertiary);

/* BORDER */
$border-primary: var(--border-primary);

/* CONTENT */
$content-light-disabled: var(--content-light-disabled);
$content-light-primary: var(--content-light-primary);

$content-dark-disabled: var(--content-dark-disabled);
$content-dark-error: var(--content-dark-error);
$content-dark-primary: var(--content-dark-primary);
$content-dark-secondary: var(--content-dark-secondary);
$content-dark-tertiary: var(--content-dark-tertiary);

/* INTERACTION */
$interaction-outline-active: var(--interaction-outline-active);
$interaction-outline-base: var(--interaction-outline-base);
$interaction-outline-disabled: var(--interaction-outline-disabled);
$interaction-outline-hover: var(--interaction-outline-hover);

$interaction-primary-base: var(--interaction-primary-base);
$interaction-primary-hover: var(--interaction-primary-hover);

$interaction-red-base: var(--interaction-red-base);
$interaction-red-hover: var(--interaction-red-hover);

$interaction-secondary-base: var(--interaction-secondary-base);
$interaction-secondary-disabled: var(--interaction-secondary-disabled);
$interaction-secondary-hover: var(--interaction-secondary-hover);

:export {
  /* ACTION */
  actionOutlineBase: $action-outline-base;
  actionOutlineHover: $action-outline-hover;
  actionSecondaryBase: $action-secondary-base;
  actionSecondaryHover: $action-secondary-hover;

  /* BACKGROUND */
  backgroundPrimary: $background-primary;

  /* CONTENT */
  contentDarkError: $content-dark-error;
  contentDarkPrimary: $content-dark-primary;
  contentDarkSecondary: $content-dark-secondary;
  contentDarkTertiary: $content-dark-tertiary;

  /* INTERACTION */
  interactionOutlineBase: $interaction-outline-base;
  interactionOutlineHover: $interaction-outline-hover;
  interactionRedBase: $interaction-red-base;
  interactionSecondaryBase: $interaction-secondary-base;
  interactionSecondaryHover: $interaction-secondary-hover;
}
