@use '@/shared/styles/colors.module.scss' as colors;
@use '@/shared/styles/mixins.module.scss' as mixins;

.sidebar-nav {
  display: flex;
  flex-direction: column;

  gap: 5px;
  padding: 20px 16px;

  &--full-height {
    height: 100%;
  }

  &--with-top-border {
    border-top: 1px solid colors.$border-primary;
  }

  &__title {
    margin-bottom: 1px;
    text-transform: uppercase;
  }

  &__links {
    display: flex;
    flex-direction: column;

    gap: 4px;
  }

  &--horizontal,
  &--horizontal &__links {
    flex-direction: row;
  }

  &--horizontal &__links {
    @include mixins.force-scrollbar;

    overflow-x: auto;
    overflow-y: hidden;
  }
}
