@use '@/shared/styles/colors.module.scss' as colors;

.sidebar-nav {
  display: flex;
  flex-direction: column;

  gap: 5px;
  padding: 20px 16px;

  &--full-height {
    height: 100%;
  }

  &--with-top-border {
    border-top: 1px solid colors.$border-primary;
  }

  &__title {
    margin-bottom: 1px;
    text-transform: uppercase;
  }

  &__links {
    display: flex;
    flex-direction: column;

    gap: 4px;
  }
}
