@use '@/shared/styles/colors.module.scss' as colors;
@use '@/shared/styles/variables.module.scss' as variables;

.grid-card {
  padding: 20px;

  border-radius: variables.$border-radius;
  border: 1px solid colors.$border-primary;
  background-color: colors.$background-primary;

  &--clickable {
    cursor: pointer;
    transition: all 0.125s ease-in-out;

    &:hover {
      background-color: colors.$interaction-secondary-hover;
    }
  }
}
