@use '@/styles/exports/colors.module.scss' as colors;

.protected-page {
  width: 100%;
  min-height: 100dvh;

  display: flex;

  overflow: auto;
  background-color: colors.$background-primary;

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;

    overflow: hidden;
  }
}
