@use '@/shared/styles/fonts.module.scss' as fonts;
@use '@/shared/styles/colors.module.scss' as colors;

.quantity-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__label {
    @include fonts.font-tag;
    margin-bottom: 4px;
  }

  &__field {
    display: flex;
    align-items: center;

    &__input {
      @include fonts.font-p0;

      width: 47px;
      text-align: center;
      background: transparent;
      border: 0;

      &[type='number'] {
        -moz-appearance: textfield;
        appearance: textfield;
      }

      /* Chrome, Safari, Edge, Opera */
      &[type='number']::-webkit-outer-spin-button,
      &[type='number']::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}
